body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 244, 255);
    font-family: tahoma;
    font-size: 16px;
    line-height: 1.6;
}

.navbar {
    background-color: rgb(240, 244, 255);
    display: flex;

    justify-content: space-between;
    padding-top: 1em;
    background-color: rgb(51, 54, 97);
    margin-bottom: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.navbar li {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    letter-spacing: 0.02em;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(51, 54, 97);
    color: rgb(121, 122, 161);

    border-radius: 1.25em;
}



.navbar a.logo img {
    height: 3.125em;
}

.welcome_banner img {
    width: 100%;
    border-radius: 0.625em;
}



.intro-text {
    font-size: 2em;
    font-weight: 1.25em;
    text-align: center;
    margin-top: 0px;
}

.home-page-first-heading {
    font-size: 3.5em;
    background-color: rgb(51, 54, 97);
    color: rgb(236, 176, 124);
    text-align: center;
    margin-bottom: 0%;

}

.pic-text-side-by-side {
    display: flex;

}

.home-page-club-intro {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2em;
}

/* Your other CSS rules here */


.second-banner-img {
    max-width: 60%;
    align-self: center;
    height: fit-content;
    border-radius: 2em;
    margin-right: 2em;
    margin-left: 3em;
    margin-top: 3em;
}



main {
    text-align: center;

}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team-units {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-unit {
    max-width: 200px;
    text-align: center;
    margin: 1rem;
}

.team-unit img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.role {
    font-size: 1rem;
    color: #777;
}

.instagram-logo {
    width: 02em;
    margin-left: auto;
}

@media (max-width: 800px) {
    .pic-text-side-by-side {
        flex-direction: block;
    }

}