.navbar {
    background-color: rgb(37, 150, 190);
    width: 100%;

    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    border-radius: 10px;
}

.navbar li {
    display: inline-block;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(38, 120, 149);
    border-radius: 5px;
}